---
import Layout from "@layouts/Layout.astro";
import CountrySelect from "@components/CountrySelect.astro";
---

<Layout>
    <main class="w-full">
        <article
            id="country-article"
            class="group flex mx-auto rounded-none mt-14 max-w-sm flex-col bg-neutral-100 text-neutral-600 dark:bg-neutral-800 dark:text-neutral-400"
        >
            <div class="flex flex-col gap-4 p-6">
                <!-- <span class="text-sm font-medium">Features</span> -->
                <h3
                    class="text-balance text-xl lg:text-2xl font-bold text-neutral-900 dark:text-neutral-100"
                    aria-describedby="featureDescription"
                >
                    Where are we going today?
                </h3>
                <CountrySelect />

                <button
                    class="bg-yellow-400 w-24 h-11 text-black mt-1 mx-auto focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
                >
                    Confirm
                </button>
            </div>
        </article>
    </main>
</Layout>

<script is:inline>
    anime({
        targets: "#country-article",
        rotate: "1turn",
        duration: 800,
    });
</script>
