---
import "../styles/styles.css";
import AirportSelector from "@components/AirportSelector.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
        <!-- Alpine Plugins -->
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"
        ></script>

        <script
            defer
            src="https://cdn.jsdelivr.net/gh/hankhank10/alpine-fetch@main/alpine-fetch.js"
        ></script>

        <!-- Alpine Core -->
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
        ></script>
    </head>
    <body class="bg-slate-100 text-white">
        <header class="bg-yellow-400">
            <p class="text-slate-900 px-6 pt-4 text-4xl text-center">
                Airplaner
            </p>
            <div class="px-6 py-4">
                <div class="py-1">
                    <AirportSelector label="Origin" />
                </div>
                <div class="pb-1">
                    <AirportSelector label="Destination" />
                </div>
                <div class="flex space-x-1 pb-1">
                    <input
                        name="search"
                        type="text"
                        class="bg-slate-50 border-none text-black w-1/2 px-4 py-2 rounded-bl-md"
                    />
                    <input
                        name="search"
                        type="text"
                        class="bg-slate-50 border-none text-black w-1/2 px-4 py-2 rounded-br-md"
                    />
                </div>
                <button
                    class="bg-blue-800 text-white w-full px-4 py-2 rounded-md"
                >
                    Search
                </button>
            </div>
        </header>
    </body>
</html>

<script></script>
